<ion-content [fullscreen]="true">

  <!-- DIV SUPERIOR -->
  <div class="divSuperior">
    <!-- HAND -->
    <img class="hand" src="assets/hand.png">

    <!-- TEXTOS -->
    <ion-row>
      <ion-col size="8">
        <p class="texto1">Oi, tudo bem?</p>
        <p class="texto2">Fique à vontade para<br>conversar com o ET bot.</p>
      </ion-col>
    </ion-row>
  </div>

  <!-- DIV INFERIOR -->
  <div class="divInferior">

    <!-- MENSAGEM -->
    <div *ngFor="let mensagem of mensagens">
      <!-- BALÃO TEXTO USUÁRIO -->
      <div *ngIf="mensagem.de == 'user'" class="balaoUsuario">{{mensagem.texto}}</div>

      <!-- BALÃO TEXTO BOT -->
      <div *ngIf="mensagem.de == 'bot'" class="balaoBot">{{mensagem.texto}}</div>
    </div>

  </div>
</ion-content>

<!-- FOOTER -->
<ion-footer class="ion-no-border">
  <div class="divFooter">
    <ion-row>
      <ion-col size="8">
        <textarea [(ngModel)]="mensagem"></textarea>
      </ion-col>
      <ion-col size="4">
        <div style="width: 100%; text-align: center;" (click)="enviar()">
          <img src="assets/btn.png" class="btnSend">
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-footer>